@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body{
    height:100vh;
    font-family: 'poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul,li{
    list-style: none;
}

.card{
    max-width: 320px;
    width:100%;
    height:450px;
    display:flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 5px 1px rgba(0,0,0,0.3);
    overflow: hidden;
}

.card__icon{
    position:relative;
    width:100%;
    height:45%;

}

.card__icon span{
    position:absolute;
    top:18px;
    right:18px;
    font-size: 20px;
    color: #fff;
}

.card img{
    width:100%;
    height:100%;
    object-fit: cover;
}


.card_details{
    padding: 10px 0px;
}

.title{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    color:rgba(61, 60, 60, 0.671);
    padding: 0 20px;

}

.title span {
    display: inline-block;
    font-weight: 700;
    font-size: 20px;
    line-height: 10px;
    vertical-align: top;
    color: #000;
  }

.card_details h2{
    font-size: 25px;
    font-weight: 600;
    color:rgba(26, 23, 23, 0.87);
    padding: 2px 20px;
}

.card_details p{
    font-weight: 400;
    font-size: 13px;
    color: rgb(119, 119, 119);
    padding: 2px 20px;
}

.rooms{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgb(214, 213, 213);
    border-bottom: 1px solid rgb(214, 213, 213);
    padding: 10px 20px;
    margin: 10px 0;
}

.room{
    display: flex;
}

.room img{
    width:30px;
    margin-right: 5px;
}

.room p{
    color:rgb(194, 188, 188);
}

.room span{
    color:#000;
    font-weight: 600;
}

.profile{
    margin: 2px 20px;
}

.profile>h3{
    font-size: 11px;
    font-weight: 600;
    color:rgb(61, 60, 60);
    text-transform: uppercase;
}

.owner{
    width:100%;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.owner img{
    width:55px;
    height:55px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}


.owner h3{
    font-size: 17px;
    font-weight: 600;
    color: rgb(48, 47, 47);
}

.owner p{
    flex-grow: 1;
    font-size: 15px;
    color:rgb(107, 106, 106)
}