/* Core Styles */

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #333;
  color: #fff;
  font-size: 1.1em;
  line-height: 1.5;
  text-align: center;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 1em 0;
}

p {
  margin: 0;
  padding: 1em 0;
}

.btn {
  display: inline-block;
  background: #333;
  color: #fff;
  text-decoration: none;
  padding: 1em 2em;
  border: 1px solid #666;
  margin: 0.5em 0;
}

.btn:hover {
  background: #eaeaea;
  color: #333;
}

/* Header Showcase */

#showcase {
  min-height: 450px;
  color: #fff;
  text-align: center;
}

#showcase .bg-image {
  position: absolute;
  background: #333 url("img/workplace.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 450px;
  z-index: -1;
  opacity: 0.4;
}

#showcase h1 {
  padding-top: 100px;
  padding-bottom: 0;
}

#showcase .content-wrap,
#section-help .content-wrap {
  padding: 0 1.5em;
}

/* Section Help */

#section-help {
  background: #eaeaea;
  color: #333;
  padding-bottom: 2em;
}

/* Section Tech */

#section-tech {
  padding: 2em 1em 1em;
}

#section-tech ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#section-tech li {
  margin-bottom: 1em;
  background: #fff;
  color: #333;
}

.card-content {
  padding: 1.5em;
}

/* Section Work */

#section-work {
  background: #fff;
  color: #333;
  padding: 2em;
}

/* Section Contact / Boxes */

#section-contact .box {
  padding: 2em;
  color: #fff;
}

#section-contact .box:first-child {
  background: #2690d4;
}

/* Footer */

#main-footer {
  padding: 2em;
  background: #000;
  color: #fff;
  text-align: center;
}

#main-footer a {
  color: #2690d4;
  text-decoration: none;
}

/* Media Queries */

@media (min-width: 700px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
  }

  #section-help .content-text {
    columns: 2;
    column-gap: 2em;
  }

  #section-help .content-text p {
    padding-top: 0;
  }

  .content-wrap,
  #section-tech ul {
    grid-column: 2/4;
  }

  .box a{
    color: white;
    text-decoration: none;
  }
  .box,
  #main-footer div {
    grid-column: span 2;
  }

  #section-tech ul {
    display: flex;
    justify-content: space-around;
  }

  #section-tech li {
    width: 31%;
  }
}

