html {
  scroll-behavior: smooth;
}
body {
  background: linear-gradient(45deg, lightsalmon, lightgreen, lightsalmon);
  font-family: "Okra",Helvetica,sans-serif;
  letter-spacing:0;
  margin: 0;
  padding:0;
  font-weight:300;
  text-align: center;
  overflow:auto;
}

h1 {
  font-size: 2.25rem;
}

.red {
  color: red;
}

.green {
  color: green;
}

header {
  position: sticky;
  background: black;
  color: #fff;
  box-shadow: 0 0 10px black;
  top: 0;
  padding: 1px;
  line-height: 10px;
}

nav {
  margin: 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 7px 10px;
  display: inline-block;
}

nav a:hover {
  background: lightgreen;
  color: black;
}

#home {
  width: 80%;
  margin: 0 auto;
  padding: 10px;
}

#home > p {
  padding: 10px;
}

section {
  scroll-margin-top: 8em;
}

.parent {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 20px;
  flex-wrap: wrap;
 }

p,
a,
figcaption {
  font-size: 1.4rem;
}

h2 {
  background: linear-gradient(45deg, darkred, black, red);
  color: white;
  padding: 15px;
  border-radius: 50%;
  width: 80%;
  margin: auto;
  box-shadow: 0 0 10px black;
}

section img {
  border-radius: 10px;
  box-shadow: -1px 0px 0px rgba(0, 0, 0, 0.06);
  pointer-events: none;
  width: 300px;
  height: 200px;
  margin-bottom: 10px;
}

/* .img-hover-zoom {
  overflow: hidden;
}

.img-hover-zoom img {
  transition: transform 0.5s ease;
}
.img-hover-zoom:hover img {
  transform: scale(1.5);
} */

@media only screen and (max-width: 768px) {
  section {
    scroll-margin-top: 10em;
  }
}

footer {
  background: black;
  box-shadow: 0 0 10px black;
  color: white;
  padding: 3px;
}

footer a {
  color: lightblue;
  text-decoration: none;
}
footer a:hover {
  background: lightgreen;
  color: black;
}
